# Ignore everything
/*

# But not these files...
!.gitignore
!1a.\ variable-fun.ipynb
!2a.\ terms-and-conditions.ipynb
!3.\ loops.ipynb
!4.\ more-loops.ipynb
!5.\ fun-functions.ipynb
!7a.\ exercise-numpy.ipynb
!8a.\ exercise-pandas.ipynb
