# Ignore everything
/*

# But not these files...
!.gitignore
!answers/1a.\ variable-fun.ipynb
!answers/2a.\ terms-and-conditions.ipynb
!answers/3.\ loops.ipynb
!answers/4.\ more-loops.ipynb
!answers/5.\ fun-functions.ipynb
!answers/7a.\ exercise-numpy.ipynb
!answers/8a.\ exercise-pandas.ipynb
